body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Facebook's background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

form { 
    background-color: black;
    width: 200px;
}

}